output/**
!output/
!output/**/
!output/**/.gitkeep

pico2w-nfc-bridge/arduino
pico2w-nfc-bridge/python
pico2w-nfc-bridge/debug

rpi-image-gen/deploy/*
rpi-image-gen/work/*
rpi-image-gen/legacy/*
rpi-image-gen/postrun.sh
rpi-image-gen/SKIP
rpi-image-gen/SKIP_IMAGES
.pc
